apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: thanos-object-storage-minio
  namespace: monitoring
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  target:
    name: thanos-object-storage-minio
    template:
      type: Opaque
      data:
        objstore.yml: |
          type: {{ .type }}
          config:
            bucket: "{{ .bucket }}"
            endpoint: "{{ .endpoint }}"
            access_key: "{{ .access_key }}"
            secret_key: "{{ .secret_key }}"
            {{- if eq .insecure "true" }}
            insecure: true
            {{- end }}
  dataFrom:
    - extract:
        key: thanos-object-storage-minio